
    process {
    withName: proteinPrep {
        container = 'protein_prep'
        containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }

    withName: ligandPrep {
        container = 'protein_prep'
        containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }

    withName: dockingSim_full {
    container = 'docking'
    containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }

    withName: dockingSim_with_protein_only {
        container = 'docking'
        containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }

    withName: dockingSim_with_ligand_only {
        container = 'docking'
        containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }

    withName: dockingSim_default {
        container = 'docking'
        containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }

    withName: scaffoldDelete {
        container = 'scaffold_alpha'
        containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }

    withName: scaffoldSafe {
        container = 'scaffold_alpha'
        containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }

    withName: reinventLinker {
        container = 'reinvent:1.2'
        containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }

    withName: reinventDenovo {
        container = 'reinvent:1.2'
        containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }

    withName: reinventMolopt {
        container = 'reinvent:1.2'
        containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }

    withName: reinventScaffold {
        container = 'reinvent:1.2'
        containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }

    withName: posebusters {
        container = 'posebusters'
        containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }

    withName: drugEx {
        container = 'drugex:1.1'
        containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }

    withName: drugEx_RL {
        container = 'drugex:1.1'
        containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }

    withName: diffLinker {
        container = 'hientt-difflinker-clean-gpu'
        containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }

    withName: linker3D {
        container = 'hientt-difflinker-clean-gpu'
        containerOptions = '--rm --gpus all --volume /home/bj/curate:/curate'
    }
    }

    docker {
    enabled = true
    path = '/usr/bin/docker'
    }
    