process {
  withName: proteinPrep {
    container = 'protein_prep:1.0.2'
    containerOptions = '--rm --volume /home/klgterry/curate:/curate'
  }

  withName: dockingSim {
    container = 'docking:1.0.0'
    containerOptions = '--rm --gpus "device=1" --volume /home/klgterry/curate:/curate'
  }

  withName: scaffoldDelete {
    container = 'delete_alpha:1.0.0'
    containerOptions = '--rm --gpus "device=1" --volume /home/klgterry/curate_delete:/curate'
  }

  withName: reinventLinker {
    container = 'reinvent:1.2'
    containerOptions = '--rm --gpus all --volume /home/klgterry/curate:/curate'
  }

  withName: reinventDenovo {
    container = 'reinvent:1.2'
    containerOptions = '--rm --gpus all --volume /home/klgterry/curate:/curate'
  }

  withName: reinventMolopt {
    container = 'reinvent:1.2'
    containerOptions = '--rm --gpus all --volume /home/klgterry/curate:/curate'
  }

  withName: reinventScaffold {
    container = 'reinvent:1.2'
    containerOptions = '--rm --gpus all --volume /home/klgterry/curate:/curate'
  }
}

docker {
  enabled = true
  path = '/usr/bin/docker'
}
