
    process {
    withName: proteinPrep {
        container = 'protein_prep'
        containerOptions = '--rm --gpus all --volume /home/klgterry/curate:/curate'
    }

    withName: dockingSim {
        container = 'docking'
        containerOptions = '--rm --gpus all --volume /home/klgterry/curate:/curate'
    }

    withName: scaffoldDelete {
        container = 'scaffold_alpha'
        containerOptions = '--rm --gpus all --volume /home/klgterry/curate:/curate'
    }

    withName: scaffoldSafe {
        container = 'scaffold_alpha'
        containerOptions = '--rm --gpus all --volume /home/klgterry/curate:/curate'
    }

    withName: reinventLinker {
        container = 'reinvent:1.2'
        containerOptions = '--rm --gpus all --volume /home/klgterry/curate:/curate'
    }

    withName: reinventDenovo {
        container = 'reinvent:1.2'
        containerOptions = '--rm --gpus all --volume /home/klgterry/curate:/curate'
    }

    withName: reinventMolopt {
        container = 'reinvent:1.2'
        containerOptions = '--rm --gpus all --volume /home/klgterry/curate:/curate'
    }

    withName: reinventScaffold {
        container = 'reinvent:1.2'
        containerOptions = '--rm --gpus all --volume /home/klgterry/curate:/curate'
    }

    withName: posebusters {
        container = 'posebusters'
        containerOptions = '--rm --gpus all --volume /home/klgterry/curate:/curate'
    }
    }

    docker {
    enabled = true
    path = '/usr/bin/docker'
    }
    